.button{
    -fx-font-family: Arial;
    -fx-font-weight: bold;
    -fx-font-size: 11pt;
    
    -fx-background-color: #66cc00;
    -fx-border-color: #ccccff;
    
    -fx-text-fill: #ffffff;    
    
}

.button.entrar{
    -fx-pref-height: 68px;
    -fx-pref-width: 148px;
    -fx-background-image: url(bt_entrar.png);
    -fx-background-repeat: no-repeat;
    -fx-background-position: 2,0;  
}

.button.cancelar{
    -fx-pref-height: 68px;
    -fx-pref-width: 148px;    
    -fx-background-image: url(bt_cancelar.png);
    -fx-background-repeat: no-repeat;
    -fx-background-position: 2,0;  
}

.button.emprestimo{
    -fx-pref-height: 68px;
    -fx-pref-width: 148px;    
    -fx-background-image: url(bt_emprestimo.png);
    -fx-background-repeat: no-repeat;
    -fx-background-position: 2,0;  
}

.button.devolucao{
    -fx-pref-height: 68px;
    -fx-pref-width: 148px;    
    -fx-background-image: url(bt_devolucao.png);
    -fx-background-repeat: no-repeat;
    -fx-background-position: 2,0;  
}

.button.sair{
    -fx-pref-height: 68px;
    -fx-pref-width: 148px;    
    -fx-background-image: url(bt_sair.png);
    -fx-background-repeat: no-repeat;
    -fx-background-position: 2,0;  
}

.button.pesquisa_pequena{
    -fx-pref-height: 38px;
    -fx-pref-width: 148px;
    
    -fx-background-image: url(bt_pesquisa_peq.png);
    -fx-background-repeat: no-repeat;
    -fx-background-position: 5,0;  
}

.button.manutencao{
    -fx-pref-height: 68px;
    -fx-pref-width: 148px;    
    -fx-background-image: url(bt_manutencao.png);
    -fx-background-repeat: no-repeat;
    -fx-background-position: 2,0;  
}

.button.ajuda{
    -fx-pref-height: 68px;
    -fx-pref-width: 148px;    
    -fx-background-image: url(bt_ajuda.png);
    -fx-background-repeat: no-repeat;
    -fx-background-position: 2,0;  
}

.button.voltar{
    -fx-pref-height: 68px;
    -fx-pref-width: 148px;    
    -fx-background-image: url(bt_voltar.png);
    -fx-background-repeat: no-repeat;
    -fx-background-position: 2,0;  
}

.button.cadastro{
    -fx-pref-height: 68px;
    -fx-pref-width: 148px;    
    -fx-background-image: url(bt_cadastro.png);
    -fx-background-repeat: no-repeat;
    -fx-background-position: 2,0;  
}

.button.pessoa{
    -fx-pref-height: 68px;
    -fx-pref-width: 148px;    
    -fx-background-image: url(bt_pessoa.png);
    -fx-background-repeat: no-repeat;
    -fx-background-position: 2,0;  
}

.button.cargo{
    -fx-pref-height: 68px;
    -fx-pref-width: 148px;    
    -fx-background-image: url(bt_cargo.png);
    -fx-background-repeat: no-repeat;
    -fx-background-position: 2,0;  
}

.button.departamento{
    -fx-pref-height: 68px;
    -fx-pref-width: 148px;    
    -fx-background-image: url(bt_departamento.png);
    -fx-background-repeat: no-repeat;
    -fx-background-position: 2,0;  
}

.button.chave{
    -fx-pref-height: 68px;
    -fx-pref-width: 148px;    
    -fx-background-image: url(bt_chave.png);
    -fx-background-repeat: no-repeat;
    -fx-background-position: 2,0;  
}

.button.confirmar{
    -fx-pref-height: 68px;
    -fx-pref-width: 148px;    
    -fx-background-image: url(bt_confirmar.png);
    -fx-background-repeat: no-repeat;
    -fx-background-position: 2,0;  
}